# Исследование надежности заёмщиков

In [1]:
import pandas as pd

In [2]:
# загрузка данных 

try:
    data = pd.read_csv('zaem.csv')
except:
    print('Ошибка загрузки данных')
    
# добавлено для проведения анализа в шаге 3
data_copy = data.copy(deep=True)

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

In [5]:
#  проверка данных на пропуски

data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [6]:
# заполнение пропусков в столбце total_income медианным значением по каждому типу из столбца income_type

for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

In [7]:
# обработка отрицательных значений в столбце days_employed

data['days_employed'] = data['days_employed'].abs()

In [8]:
# вывод медианного значения трудового стажа days_employed в днях для каждого типа занятости

data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть. Тем более этот столбец не понадобится для дальнейшего исследования.

In [9]:
# перечень уникальных значений столбца children

data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

In [10]:
#  удаление строк, в которых встречаются аномальные значения

data = data[(data['children'] != -1) & (data['children'] != 20)]

In [11]:
# повторная проверка 

data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

In [12]:
# заполнение пропусков в столбце days_employed медианными значениями по каждого типа занятости income_type

for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [13]:
# повторная проверка

data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

In [14]:
# замена вещественного типа данных в столбце total_income на целочисленный

data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

In [15]:
# обработка неявных дубликатов в столбце education

data['education'] = data['education'].str.lower()

In [16]:
data.duplicated().sum()

71

In [17]:
# обработка явных дубликатов

data = data.drop_duplicates()

### Категоризация данных

На основании диапазонов, указанных ниже, создадим в датафрейме `data` столбец `total_income_category` с категориями:

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

In [20]:
#  вывод перечня уникальных целей взятия кредита из столбца purpose

data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создание функции, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

In [23]:
data

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791,операции с жильем,B,операции с недвижимостью
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999,сделка с автомобилем,C,операции с автомобилем
21522,1,2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672,недвижимость,C,операции с недвижимостью
21523,3,3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093,на покупку своего автомобиля,B,операции с автомобилем
21524,2,1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047,на покупку автомобиля,C,операции с автомобилем

## Исследование данных

Для ответов на поставленные ниже вопросы составим сводные таблицы, в которых строками будут являться исследуемые категории (наличие детей, семейное положение, уровень дохода и цели кредита), а в столбцах укажем:
- количество людей, имеющих просрочку по кредиту для каждой категории
- общее количество людей в каждой категории
- отношение людей, имеющих просрочку, к общему количеству людей

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [24]:
# создадим сводную таблицу, в которой подсчитаем количество людей, имеющих просрочку, общее количество людей 
# и долю первых ко вторым соответственно для каждой категории, группировку производим по интересующей нас категории
# (в данном случае - по количеству детей)

data_pivot_c = data.pivot_table(index='children', values='debt', aggfunc=['sum', 'count', 'mean'])

# сбросим мультииндексы и изменим названия столбцов

data_pivot_c = data_pivot_c.reset_index()
data_pivot_c.columns = (['количество детей', 'наличие просрочки', 'общее количество людей', 'отношение, %'])

data_pivot_c.style.format({'отношение, %': '{:.2%}'})

**Проведем дополнительное исследование. Разобьём заёмщиков на две категории: с детьми и без и проверим, влияет ли наличие детей на своевременный возврат кредита.**

In [25]:
# создаем переменные-счетчики и с помощью цикла находим их новые значения

amount_people_with_children = 0
amount_debt_people_with_children = 0

for i in range(1, 6):
    amount_people_with_children += data_pivot_c.loc[i,'общее количество людей']
    amount_debt_people_with_children += data_pivot_c.loc[i, 'наличие просрочки']

ratio_with_children = amount_debt_people_with_children / amount_people_with_children

# создаем новым датафрейм

data_children_columns = ['наличие детей', 'наличие просрочки', 'общее количество людей', 'отношение, %']
data_children = [['не имеются', 1063, 14091, data_pivot_c.loc[0,'отношение, %']], 
                 ['имеются', amount_debt_people_with_children, amount_people_with_children, ratio_with_children]]

data_by_children = pd.DataFrame(data=data_children, columns=data_children_columns)

data_by_children.style.format({'отношение, %': '{:.2%}'})

**Вывод:** из полученных отношений можно сделать вывод, что в целом по мере роста количества детей доля людей, имеющих просрочку растёт. Однако для категории с тремя детьми существует небольшой спад. Также для категории людей, имеющих пятеро детей, эта доля вообще равна нулю. Также это самая немногочисленная категория. Возможно стоит добавить ещё данные по этой категории и провести анализ ещё раз. 

Анализ дополнительной таблицы также указывает на то, что наличие детей вносит вклад в просрочку: доля людей с просрочкой увеличивается.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [26]:
data.loc[data['family_status'] == 'Не женат / не замужем', 'family_status'] = 'не женат / не замужем'

data_pivot_f = data.pivot_table(index='family_status', values='debt', aggfunc=['sum', 'count', 'mean'])
data_pivot_f = data_pivot_f.reset_index()
data_pivot_f.columns = (['семейный статус', 'наличие просрочки', 'общее количество людей', 'отношение, %'])
data_pivot_f.sort_values(by='отношение, %', ascending=False).reset_index(drop=True).style.format({'отношение, %': '{:.2%}'})

**Вывод:** по верхним трём категориям можно сделать вывод, что вероятность просрочки для одинокого человека выше, чем для человека, состоящего в отношениях. Однако для категорий "в разводе" и "вдовец / вдова" вероятность просрочки также уменьшается. Однако желательно дополнить анализируемые данные информацией о людях с семейным статусом "вдовец / вдова", чтобы повысить достоверность анализа, так как это самая малочисленная категория.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [27]:
data_pivot_t_i = data.pivot_table(index='total_income_category', values='debt', aggfunc=['sum', 'count', 'mean'])
data_pivot_t_i = data_pivot_t_i.reset_index()
data_pivot_t_i.columns = (['ежемесячный доход', 'наличие просрочки', 'общее количество людей', 'отношение, %'])
data_pivot_t_i.style.format({'отношение, %': '{:.2%}'})

**Вывод:** из полученных отношений можно сделать вывод, что какой-либо зависимости между ежемесячным доходом и возвратом кредита в срок нет, доли имеющих когда-либо задолженность примерно одинаковы и изменяются хаотично. Наибольший процент просрочек принадлежит людям с доходом до 30000 рублей, наименьший - людям с доходом 30000-50000 рублей. Также надо учесть, что в категориях А, D и Е общее количество людей невелико, что понижает уровень доверия к полученным результатам по данным категориям.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [28]:
data_pivot_p = data.pivot_table(index='purpose_category', values='debt', aggfunc=['sum', 'count', 'mean'])
data_pivot_p = data_pivot_p.reset_index()
data_pivot_p.columns = (['цель кредита', 'наличие просрочки', 'общее количество людей', 'отношение, %'])
data_pivot_p.sort_values(by='отношение, %', ascending=False).reset_index(drop=True).style.format({'отношение, %': '{:.2%}'})

**Вывод:** из полученных отношений можно сделать вывод, что просрочки по кредитам, выданных на проведение свадеб и для операций с недвижимостью, меньше, чем просрочки по кредитам для операций с автомобилем и для получения образования.

#### 3.5 Возможные причины появления пропусков в исходных данных.

Как было выяснено в пункте 4, пропуски присутствовали в двух столбцах: "общий трудовой стаж в днях" и "ежемесячный доход", по 2174 пропуска в каждом столбце. Было решено подсчитать количество строк, где присутствуют пропуски в обоих этих столбцах одновременно (см. ячейки ниже).

In [29]:
#  количество пропусков в столбцах

data_copy.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [30]:
#  количество строк, где присутствуют пропуски в обоих столбцах одновременно

data_copy[(data_copy['days_employed'].isna()) & (data_copy['total_income'].isna())]['dob_years'].count()

2174

Как видно, количество этих строк также равно 2174. Скорее всего люди, описываемые этими строками, отказались предоставлять информацию о своей работе.

#### 3.6 Почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* при использовании среднего значения в его значение могут внести большой вклад значения сильно отличающиеся от большинства значений выборки, что будет неверно отражать информацию о ней. Медиана в этом случае более корректно отразит содержание значений в выборке.

### Общий вывод

В ходе данной работы выяснялось, влияет ли количество детей, семейное положение, ежемесячный доход и цель кредита клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов. В ходе анализа были рассчитаны доли количества людей, имеющих просрочки, по отношению к общему количеству людей в интересующих категориях.

На этапе предобработки были обнаружены пропуски в столбцах "общий трудовой стаж в днях" (days_employed)  и "ежемесячный доход" (total_income). Отсутствующие значения были заменены медианными значениями по каждому типу из столбца "тип занятости" (income_type).

Также были обнаружены отрицательные количества дней трудового стажа в столбце "общий трудовой стаж в днях" (days_employed). Эти значения были переведены в положительные путеем взятия модуля.

В столбце "количество детей в семье" (children) присутствовали два аномальных значения: -1 и 20. Строки, в которых встречаются такие аномальные значения были удалены из датафрейма.

Также были обработаны значения в столбце "уровень образования клиента" (education): приведены к одному регистру, после чего были удалены строки с явными дубликатами, которые также присутствовали в датафрейме. 

После данные были разбиты по категориям по уровню ежемесячного дохода и целям выдаваемого кредита для последующего анализа.


Выводы.

- Было выяснено, что между уровнем дохода и своевременным возвратом кредита какой-то определённой зависимости не имеется, разброс значений по категориям для процента людей, имеющих когда-либо задолжености, не велик (минимальный 6.02%, максимальный 9.09%) и изменяется хаотично. 


- Для зависимости от количества детей было выяснено, что вероятность задолженности увеличивается с количеством детей: 7.54% для заемщиков без детей и 9.76% для семей с четырьмя детьми. Однако, скорее всего требуется дополнительный анализ данных, в которых будет увеличено количество людей имеющих трое, четверо и пятеро детей.


- Для зависимости  от семейного положения было выяснено, что люди в статусе "Не женат / не замужем" имеют наибольшую вероятность просрочить кредит (9.76%), в то время как наименьшая вероятность у категории "вдовец / вдова" (6.62%). 


- Цели кредита также не вносят сильный разброс для значений доли людей, имеющих когда-либо просрочку: 9.35% для операций с автомобилем и 7.26% для операций с недвижимостью.